{
  "extends": [
    "airbnb-base",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "jest"
  ],
  "ignorePatterns": ["dist/**/*.js"],
  "env": {
    "jest/globals": true
  },
  "globals": {
    "fetch": true,
    "window": true,
    "history": true,
    "document": true,
    "location": true
  },
  "rules": {
    "dot-location": ["error", "property"],
    "no-underscore-dangle": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "warn"
  }
}
